.errCenter{
      text-align:center;
      color:Red;
      font-style:italic;
      font-family:'Georgia';
      }
  
  .errStyle{
      color:Red;
      font-style:italic;
      font-family:'Georgia';

      }


    .myButton{
      text-align: center;
      padding-top: 15px;
    }


.myButton1{
      margin-left: 250px;
      padding-top: 15px;
    }



    






