.bg{
      padding: 60px;
      background-color: rgb(239,240,243);
     
    }
  
    .form-group{
      margin: 0 auto;
      max-width: 320px;
    }
    .btn-success{
      margin: 0 auto;

    }

    .bu{
      padding: 40px;
      /* top: 50%; */
      left: 30%;
      transform: translate(-18%, 10%);
      display: flex;
      margin-left: 125px;
      position: center;
    
    }