.whygharkul{
    font-family: cursive;
    margin-top: 25px;
    border-radius: 10rem;
    align-items: center;
    align-content: center;
    width: 1500px;
    align-content: center;
    border-color: blueviolet;

}